:root {
    --pink:rgb(248, 215, 218);
    --dark-color:#621147;
    --black:rgb(14, 5, 5);
    --white:#fff;
    --light-color:rgb(205, 149, 186);
    --light-color-1:#999;
    --border:.1rem solid rgba(0,0,0);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgb(248, 215, 218);



    --poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #185e5d;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
 
 }



/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family:'Courier New', Courier, monospace;
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark-color);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--black);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-color);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--black);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--dark-color);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

.fa-solid:hover{
      color: black;
}

/* MAIN */
/* CONTENT */

.form-control {
    border: 0.2rem solid #621147 !important;
    padding: 8px 10px !important;
}

.form-select {
	border: 0.2rem solid #621147 !important;
    padding: 8px 10px !important;
	background-color: #621147;
}
 
.label{
    color: var(--dark-color);
    font-size: x-large;
}

.avatar-sm {
    width: 70px !important;
    height: 70px !important;
    font-size: .875rem;
}

.btn{
	/* border: 0.2rem solid #621147 !important; */
    padding: 8px 10px !important;
	background-color: #E3306F !important;
	color: var(--white) !important;
	height: 2.6rem !important;
	/* border-radius: 4.375rem !important; */

}
.inputOffer{
	border: 0.2rem solid  #621147 !important;
    padding: .5rem .5rem!important;
    width: 6rem !important;
    height: 2.6rem !important;
	margin-left: 1rem !important;
	/* margin-right: 6rem !important; */

}

.selectOffer{
	border: 0.2rem solid  #621147 !important;
    padding: .5rem .5rem!important;
    width: 10rem !important;
    height: 2.6rem !important;
	margin-left: 1rem !important;
	
}

/* .inputOfferPro{
	border: 0.2rem solid  #621147 !important;
    padding: .5rem .5rem!important;
    width: 15rem !important;
    height: 2.6rem !important;
	margin-left: 0rem !important;
	margin-right: 15rem !important;

} */

.offer-product{
	/* border: 0.2rem solid  #621147 !important; */
    padding: .5rem .5rem!important;
    width: 10rem !important;
    height: 2.6rem !important;
	margin-right: 20rem !important;
	
}

#content main .head-title .left .offer {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
	margin-left:2rem ;
    color: var(--dark-color);
}